/* Fonts from Google Fonts - more at https://fonts.google.com */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');

body {
  font-family: "Open Sans", sans-serif;
  padding: 5px 25px;
  font-size: 18px;
  margin: 0;
  color: #444;
}

h1 {
  font-family: "Merriweather", serif;
  font-size: 32px;
}

#content {
  max-width: 960px;
  margin: 0 auto;
  
}

header {
  align-items: center;
  display: grid;
  grid-template-columns: 110px auto;
  background-color: #ffd97a;
}

body{
  background-color:#C6D2D1;
}
nav{
  color: #646E78;
  padding: 80px 50px 0px 75px;
}
nav a {
  color: black;
}

nav ul {
  list-style: none; /* removes the bullets! */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(6em, 1fr));
  margin: 0;
  background-color: #C6D2D1;
  
}


.search-box {
  text-align: center;
}

