/* Fonts from Google Fonts - more at https://fonts.google.com */
@import url('https://fonts.googleapis.com/css?family=Lora:400,700');
@import url('https://fonts.googleapis.com/css?family=Arimo:400,700');

body {
  font-family: "Open Sans", sans-serif;
  padding: 5px 25px;
  font-size: 18px;
  margin: 0;
  color: #000;
}

header {
  font-family: "Arimo", serif;
  font-size: 32px;
  background-color: #c32424;
}
p {
  text-align:center;
}

h1 {
  text-align:center;
}
img{
}


#content {
  margin: 0 auto;
  
}


body{
  background-color:  #C6D2D1;
}

.topnav {
  overflow: hidden;
  background-color: #646E78;
}
.topnav a {
  float: right;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.search-box {
  text-align: center;
}

.home-grid { 
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  background-color: #C6D2D1;
  grid-gap: 4em;

}
.home-headline{
  text-align:center;
  
}

.virtual-box{
   background-color: #c32424;
   border-radius: 15px 15px 15px 15px;
}

.button-div{
  text-align: center;
}



















