/* Fonts from Google Fonts - more at https://fonts.google.com */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');

body {
  font-family: "Open Sans", sans-serif;
  padding: 5px 25px;
  font-size: 18px;
  margin: 0;
  color: #444;
}

h1 {
  font-family: "Merriweather", serif;
  font-size: 32px;
}

#content {
  max-width: 960px;
  margin: 0 auto;
  
}

header {
  align-items: center;
  display: grid;
  grid-template-columns: 110px auto;
  background-color: #fffcfd;
}

body{
  background-color: #999999;
}
nav{
  color: #050505;
  padding: 80px 50px 0px 75px;
}
nav a {
  color: black;
}

nav ul {
  list-style: none;
  display: grid;
  margin: 0;
  background-color: #fffcfd;
  grid-template-rows: 1fr;
  grid-template-columns: 150px 150px 150px;
  
}


.search-box {
  text-align: center;
}

.virtual-backgrounds {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: repeat(6, 1fr);
  grid-gap: 1em;
  background-color:  #999999;
  
}

.virtual-box-1{
  
}

.virtual-box-2 {
}

.virtual-box-3 {
}

.virtual-box-4 {
}





